body{
    background: #474747;
}

/* banear-area */
.banear{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(img/bangladesh-national-flag-design-bangladesh-flag-3d-waving-background-illustration-free-vector.jpg);
    padding: 190px 0;
}
.banear h1{
    font-size: 57px;
    font-weight: 700;
    color: rgb(186, 165, 172);
    text-align: center;
} 
.banear p{
    font-size: 22px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

/* card-area */
.card{
    margin: 20px 0;
}
.card img{
    height: 250px;
}

ol#members li {
    margin-top: 22px;
    font-size: 20px;
}

/* calculate-area */
.bg-dark{
    background: #000000!important;
}
.calculate p {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    align-items: center;
    font-size: 20px;
}
.calculate p input {
    padding: 6px;
    background: none;
    border: 2px solid #ffffff;
    width: 133px;
    color: #ffffff;
    border-radius: 5px;
}